<% include ../partials/header %>

    <main>
        <h1>Edit <%= poll.question %></h1>
        <form action="/polls/<%= poll._id %>?_method=PUT" method="POST">
            <input type="text" name="poll[question]" value="<%= poll.question %>">
            <textarea name="poll[options]"></textarea>
            <button class="ui small primary button">Submit</button>
            <a href="/polls/<%= poll._id %>" class="ui small negative button">Go Back</a>
        </form>
    </main>

    <script>
        var options = document.querySelector('textarea');
        var optArr = [];

        <% for (var i = 0; i < poll.pollOptions.length; i++) { %>
            optArr.push("<%- poll.pollOptions[i].option %> ");
        <% }; %>

        for (var j = 0; j < optArr.length; j++) {
           options.textContent += optArr[j] + String.fromCharCode(10);
        }
    </script>

<% include ../partials/footer %>