<% include ../partials/header %>

    <main>
        <h1 class="poll-header"><%= poll.question %></h1>
        <div class="canvas">
            <canvas id="chart" width="400" height="400">
            </canvas>
        </div>
        <section class="options">
            <form action="/polls/<%= poll._id %>?_method=PUT" method="POST">
                <% poll.pollOptions.forEach((pollOption) => { %>
                        <input id="<%- pollOption.option %>" class="hide" type="radio" value="<%- pollOption._id %>" name="polloption">
                        <label  for="<%- pollOption.option %>" class="ui small primary button"><%= pollOption.option %></label>
                <% }) %>
                <input id="other" type="radio" class="hide" value="other" name="polloption">
                <label for="other" class="ui small primary button">Other</label>
                <br>
                <div>
                    <button class="ui small positive button">Submit Answer</button>
                    <a href="/polls/<%= poll._id %>/edit" class="ui small orange button">Edit</a>
                </div>
            </form>
        </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
            const CTX = document.getElementById('chart');
    
            var tally = [];
            var labels = [];
            var backgroundColors = [];
            var borderColors = [];

            function randomNumber(num) {
                return Math.floor(Math.random() * num);                
            }

            function randomizedRGB() {
                var red = randomNumber(255);
                var green = randomNumber(255);
                var blue = randomNumber(255);
                return 'rgba(' + red + ',' + green + ',' + blue;
            }
    
            <% for (var i=0; i < poll.pollOptions.length; i++) { %>
                labels.push('<%- poll.pollOptions[i].option %>');
                tally.push(<%- poll.pollOptions[i].tally %>);
                var color = randomizedRGB();
                backgroundColors.push(color + ', 0.5)');
                borderColors.push(color + ', 1)');
            <% } %>
    
            var chart = new Chart(CTX, {
                type: 'doughnut',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Votes',
                        data: tally,
                        backgroundColor: backgroundColors,
                        borderColor: borderColors,
                        borderWidth: 0
                    }]
                }
            });

        </script>
    
<% include ../partials/footer %>