<% include ../partials/header %>

    <main>
        <h1 class="poll-header"><%= poll.question %></h1>
        <div class="canvas">
            <canvas id="chart" width="400" height="400">
            </canvas>
        </div>
        <section class="options">
            <% poll.pollOptions.forEach((pollOption) => { %>
                <div>
                    <button class="ui small primary button" data-option="<%- pollOption.option %>"><%= pollOption.option %></button>
                    <!-- <br>
                    <p id="tally"><%= pollOption.tally %></p> -->
                </div>
            <% }) %>
        </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
            const CTX = document.getElementById('chart');
    
            var tally = [];
            var labels = [];
            var backgroundColors = [];
            var borderColors = [];

            function randomNumber(num) {
                return Math.floor(Math.random() * num);                
            }

            function randomizedRGB() {
                var red = randomNumber(255);
                var green = randomNumber(255);
                var blue = randomNumber(255);
                return 'rgba(' + red + ',' + green + ',' + blue;
            }
    
            <% for (var i=0; i<poll.pollOptions.length; i++) { %>
                labels.push('<%- poll.pollOptions[i].option %>');
                tally.push(<%- poll.pollOptions[i].tally %>);
                var color = randomizedRGB();
                backgroundColors.push(color + ', 0.5)');
                borderColors.push(color + ', 1)');

                var button<%- poll.pollOptions[i].option %> = document.querySelector('[data-option="<%- poll.pollOptions[i].option %>"]');
                button<%- poll.pollOptions[i].option %>.addEventListener("click", () => {
                    <%  %>; // UPDATE ._id for poll on server side.
                });
            <% } %>
    
            var chart = new Chart(CTX, {
                type: 'doughnut',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Votes',
                        data: tally,
                        backgroundColor: backgroundColors,
                        borderColor: borderColors,
                        borderWidth: 0
                    }]
                }
            });

        </script>
    
<% include ../partials/footer %>